<div class="modal-header">
   <h4 class="modal-title">Import Plans</h4>
   <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
      <span aria-hidden="true">&times;</span>
   </button>
</div>
<div class="modal-body">
   <div>Paste the <span class="font-italic text-info">constructionplans.xml</span> content below. The plans will be added to your saved layout list.</div>
   <div class="small text-secondary">File can be found in Documents\Egosoft\X4\[12345678]\constructionplans.xml</div>
   <textarea class="w-100 mt-2" rows="10" [(ngModel)]="xml"></textarea>
</div>
<div class="modal-footer">
   <button type="button" class="btn btn-success" (click)="importPlans()" [disabled]="!canImport">Import</button>
   <button type="button" class="btn btn-secondary" (click)="activeModal.close()" i18n="@@cancel">Cancel</button>
</div>
