<div class="modal-header">
  <h4 class="modal-title" i18n="@@loadLayout">Load Layout</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="list-group">
    <a *ngFor="let entity of entities" class="list-group-item list-group-item-action" (click)="activeModal.close(entity.name)">
      <div>
        <strong>{{ entity.name }}</strong>
        <a class="hover text-danger float-right small" (click)="deleteLayout($event, entity)" i18n="@@delete">Delete</a>
      </div>
      <div class="small">
        {{ getModules(entity) }}
      </div>
    </a>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close()" i18n="@@cancel">Cancel</button>
</div>
