<div class="row content-row">
  <div class="col-md-12">
    <div class="card shadow">
      <div class="card-header shadow-sm">
        Station Calculator

        <button class="btn btn-sm btn-primary" (click)="saveLayout()"><i class="fa fa-save"></i> Save</button>&nbsp;
        <button class="btn btn-sm btn-primary" (click)="saveLayoutAs()"><i class="fa fa-save"></i> Save As</button>&nbsp;
        <button class="btn btn-sm btn-info" (click)="loadLayout()"><i class="fa fa-folder-open"></i> Load</button>&nbsp;
        <button class="btn btn-sm btn-secondary" (click)="shareLayout()"><i class="fa fa-share-square"></i> Share</button>&nbsp;
      </div>
      <div class="card-body">
        <div class="row" *ngIf="messages.length">
          <div class="col">
            <app-messages [messages]="messages"></app-messages>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 col-sm-12">
            <h6 class="card-title">
              <span *ngIf="!layout">Station Modules</span>
              <span *ngIf="layout" class="text-primary">{{ layout.name }}</span>
            </h6>

            <app-station-modules [modules]="modules" (change)="onChange()"></app-station-modules>
          </div>
          <div class="col-md-4 col-sm-12">
            <h6 class="card-title">Station Resources</h6>

            <app-station-resources #stationResources [modules]="modules"></app-station-resources>
          </div>
          <div class="col-md-4 col-sm-12">
            <h6 class="card-title">Station Summary</h6>

            <app-station-summary #stationSummary [modules]="modules"></app-station-summary>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
