<div class="row content-row">
  <div class="col-md-12">
    <div class="card" *ngIf="entity">
      <div class="card-header">
        <a routerLink="/ships">Ships</a> - {{ entity.name }}
      </div>
      <div class="card-body" *ngIf="entity">
        <div class="form-group row">
          <label class="col col-form-label col-form-label-sm">{{ entity.description }}</label>
        </div>

        <dl class="row">
          <dt class="col-sm-2">Price</dt>
          <dd class="col-sm-10">
            {{ entity.price.min | number }} - {{ entity.price.max | number }} <span class="text-success">(difference: {{ entity.price.max - entity.price.min | number }})</span>
          </dd>

          <dt class="col-sm-2">Volume</dt>
          <dd class="col-sm-10">{{ entity.volume }}</dd>
        </dl>

        <ngb-tabset>
          <ngb-tab title="Construction">
            <ng-template ngbTabContent>
              <div *ngIf="entity.production && entity.production.length" style="margin-top: 10px; margin-bottom: 10px" class="row">
                <div class="col-md-6 col-sm-6 col-lg-4" *ngFor="let production of entity.production">
                  <div class="card">
                    <div class="card-header small">
                      {{ production.name }}
                    </div>
                    <div class="card-body small">
                      <div class="row" *ngIf="production.wares.length">
                        <div class="col">
                          <h6>Requirements</h6>
                          <table class="table table-sm">
                            <thead>
                            <tr>
                              <th>Resource</th>
                              <th class="text-right">Min</th>
                              <th class="text-right">Max</th>
                              <th class="text-right">Avg</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let item of production.wares">
                              <td>
                                {{ item.amount }} x <a [routerLink]="['/wares/', item.ware.id ]">{{ item.ware.name }}</a>
                              </td>
                              <td class="text-right">{{ item.amount * item.ware.price.min | number }}</td>
                              <td class="text-right">{{ item.amount * item.ware.price.max | number }}</td>
                              <td class="text-right">{{ item.amount * item.ware.price.avg | number }}</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                              <th class="text-right">Total</th>
                              <th class="text-right">{{ getTotalMin(production) | number }}</th>
                              <th class="text-right">{{ getTotalMax(production) | number }}</th>
                              <th class="text-right">{{ getTotalAvg(production) | number }}</th>
                            </tr>
                            </tfoot>
                          </table>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col">
                          <h6>Production</h6>
                          <table class="table table-sm">
                            <tbody>
                            <tr>
                              <td>Cycle Time</td>
                              <td class="text-right">{{ getProductionTime(production.time) }}</td>
                            </tr>
                            <tr>
                              <td>Batch Size</td>
                              <td class="text-right">{{ production.amount }}</td>
                            </tr>
                            <tr>
                              <td>Products per hour</td>
                              <td class="text-right">{{ (3600 / production.time) * production.amount | number:'1.0-2' }}</td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>
