<div class="row content-row">
  <div class="col-md-12">
    <div class="card shadow">
      <div class="card-header shadow-sm" i18n="@@wares">
        Wares
      </div>
      <div class="card-body">
        <div class="form-group mb-2">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Search" i18n-placeholder="@@search" [(ngModel)]="filterText" (ngModelChange)="onFilterChanged()"/>
          </div>
        </div>

        <ngx-datatable class="bootstrap small"
                       [rows]="entities"
                       [rowHeight]="'auto'"
                       [selectionType]="'single'"
                       [columnMode]="'force'"
                       [rowClass]="rowClass"
                       (select)="onSelect($event)">
          <ngx-datatable-column prop="name" name="Name"></ngx-datatable-column>
          <ngx-datatable-column prop="transport" name="Transport"></ngx-datatable-column>
          <ngx-datatable-column prop="price.min" name="Min Price" [pipe]="numberPipe"></ngx-datatable-column>
          <ngx-datatable-column prop="price.avg" name="Avg Price" [pipe]="numberPipe"></ngx-datatable-column>
          <ngx-datatable-column prop="price.max" name="Max Price" [pipe]="numberPipe"></ngx-datatable-column>
          <ngx-datatable-column prop="volume" name="Volume" [pipe]="numberPipe"></ngx-datatable-column>
          <ngx-datatable-column name="Price Diff / Volume" [sortable]="true" [comparator]="priceDifPerVolumeComparator">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ (row.price.max - row.price.min) / row.volume | number:'1.0-2' }}
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>
