<div class="row content-row">
  <div class="col-md-12">
    <div class="card shadow" *ngIf="entity">
      <div class="card-header shadow-sm">
        <a routerLink="/wares">Wares</a> - {{ entity.name }}
      </div>
      <div class="card-body" *ngIf="entity">
        <div class="form-group row">
          <label class="col col-form-label col-form-label-sm">{{ entity.description }}</label>
        </div>

        <dl class="row">
          <dt class="col-sm-2">Price</dt>
          <dd class="col-sm-10">
            {{ entity.price.min | number }} - {{ entity.price.max | number }} <span class="text-success">(difference: {{ entity.price.max - entity.price.min | number }})</span>
          </dd>

          <dt class="col-sm-2">Volume</dt>
          <dd class="col-sm-10">{{ entity.volume }}</dd>

          <dt class="col-sm-2">Transport</dt>
          <dd class="col-sm-10">{{ entity.transport }}</dd>

          <dt class="col-sm-2">Type</dt>
          <dd class="col-sm-10">{{ entity.group.name }}</dd>
        </dl>

        <ngb-tabset>
          <ngb-tab title="Construction">
            <ng-template ngbTabContent>
              <div *ngIf="entityProduction && entityProduction.length" class="row mt-2 mb-2">
                <div class="col-md-6 col-sm-6 col-lg-4" *ngFor="let production of entityProduction">
                  <div class="card shadow-sm">
                    <div class="card-header small">
                      {{ production.name }}
                    </div>
                    <div class="card-body small">
                      <div class="row" *ngIf="production.wares.length">
                        <div class="col">
                          <h6>Requirements</h6>
                          <table class="table table-sm">
                            <thead>
                            <tr>
                              <th>Resource</th>
                              <th class="text-right">Min</th>
                              <th class="text-right">Max</th>
                              <th class="text-right">Avg</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let item of production.wares">
                              <td>
                                {{ item.amount }} x <a [routerLink]="['/wares/', item.ware.id ]">{{ item.ware.name }}</a>
                              </td>
                              <td class="text-right">{{ item.amount * item.ware.price.min | number }}</td>
                              <td class="text-right">{{ item.amount * item.ware.price.max | number }}</td>
                              <td class="text-right">{{ item.amount * item.ware.price.avg | number }}</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                              <th class="text-right">Total</th>
                              <th class="text-right">{{ getTotalMin(production) | number }}</th>
                              <th class="text-right">{{ getTotalMax(production) | number }}</th>
                              <th class="text-right">{{ getTotalAvg(production) | number }}</th>
                            </tr>
                            </tfoot>
                          </table>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col">
                          <h6>Production</h6>
                          <table class="table table-sm">
                            <tbody>
                            <tr>
                              <td>Cycle Time</td>
                              <td class="text-right">{{ getProductionTime(production.time) }}</td>
                            </tr>
                            <tr>
                              <td>Batch Size</td>
                              <td class="text-right">{{ production.amount }}</td>
                            </tr>
                            <tr>
                              <td>Products per Hour</td>
                              <td class="text-right">{{ (3600 / production.time) * production.amount | number:'1.0' }}</td>
                            </tr>
                            <tr *ngIf="production.efficiency">
                              <td>Max Efficiency</td>
                              <td class="text-right">{{ production.efficiency.product * 100 + 100 }}%</td>
                            </tr>
                            <tr>
                              <td>Profit per Hour (100% Efficiency)</td>
                              <td class="text-right">
                                <span class="text-danger">
                                    Min: <strong>{{ entity.price.min * (3600 / production.time) * production.amount | number:'1.0-0' }}</strong> /
                                </span>
                                <span class="text-primary">
                                    Avg: <strong>{{ entity.price.avg * (3600 / production.time) * production.amount | number:'1.0-0' }}</strong> /
                                </span>
                                <span class="text-success">
                                    Max: <strong>{{ entity.price.max * (3600 / production.time) * production.amount | number:'1.0-0' }}</strong>
                                </span>
                              </td>
                            </tr>
                            <tr *ngIf="production.efficiency">
                              <td>Profit per Hour ({{ production.efficiency.product * 100 + 100 }}% Efficiency)</td>
                              <td class="text-right">
                                <span class="text-danger">
                                    Min: <strong>{{ entity.price.min * (3600 / production.time) * production.amount * (1 + production.efficiency.product) | number:'1.0-0' }}</strong> /
                                </span>
                                <span class="text-primary">
                                    Avg: <strong>{{ entity.price.avg * (3600 / production.time) * production.amount * (1 + production.efficiency.product) | number:'1.0-0' }}</strong> /
                                </span>
                                <span class="text-success">
                                    Max: <strong>{{ entity.price.max * (3600 / production.time) * production.amount * (1 + production.efficiency.product) | number:'1.0-0' }}</strong>
                                </span>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Required For">
            <ng-template ngbTabContent>
              <div class="row mt-2 mb-2">
                <div class="col-md-4 col-sm-12">
                  <div class="card small">
                    <div class="card-header">
                      Wares
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col text-info" *ngIf="!waresUsedIn.length">No usage found.</div>
                        <div *ngFor="let ware of waresUsedIn" class="col-md-4 col-sm-6">
                          <a [routerLink]="['/wares/', ware.id ]">{{ ware.name }}</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 col-sm-12">
                  <div class="card small">
                    <div class="card-header">
                      Ships
                    </div>
                    <div class="card-body">
                      Coming soon
                    </div>
                  </div>
                </div>

                <div class="col-md-4 col-sm-12">
                  <div class="card small">
                    <div class="card-header">
                      Station Modules
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col text-info" *ngIf="!modulesUsedIn.length">No usage found.</div>
                        <div *ngFor="let module of modulesUsedIn" class="col-md-6 col-sm-12">
                          <a [routerLink]="['/modules/', module.id ]">{{ module.name }}</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>
