<div class="row content-row">
  <div class="col-md-12">
    <div class="card shadow">
      <div class="card-header shadow-sm">
        Wares
      </div>
      <div class="card-body">
        <table class="table table-sm table-hover">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Transport</th>
            <th scope="col">Min Price</th>
            <th scope="col">Avg Price</th>
            <th scope="col">Max Price</th>
            <th scope="col">Volume</th>
            <th scope="col">Price Diff / Volume</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of entities; let index = index;" class="hover-icon" (click)="showEntity(item)">
              <td>{{ index + 1 }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.transport }}</td>
              <td>{{ item.price.min | number }}</td>
              <td>{{ item.price.average | number }}</td>
              <td>{{ item.price.max | number }}</td>
              <td>{{ item.volume | number }}</td>
              <td>{{ (item.price.max - item.price.min) / item.volume | number:'1.0-2' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
