<div class="row content-row">
  <div class="col-md-12">
    <div class="card" *ngIf="entity">
      <div class="card-header">
        {{ entity.name }}
      </div>
      <div class="card-body" *ngIf="entity">
        <div class="form-group row">
          <label class="col col-form-label col-form-label-sm">{{ entity.description }}</label>
        </div>
        <dl class="row">
          <dt class="col-sm-2">Price</dt>
          <dd class="col-sm-10">
            {{ entity.price.min | number }} - {{ entity.price.max | number }} <span class="text-success">(difference: {{ entity.price.max - entity.price.min | number }})</span>
          </dd>

          <dt class="col-sm-2">Volume</dt>
          <dd class="col-sm-10">{{ entity.volume }}</dd>

          <dt class="col-sm-2">Transport</dt>
          <dd class="col-sm-10">{{ entity.transport }}</dd>

          <dt class="col-sm-2">Type</dt>
          <dd class="col-sm-10">{{ entity.group.name }}</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
