<div class="row content-row">
  <div class="col-md-12">
    <div class="card shadow" *ngIf="entity">
      <div class="card-header shadow-sm">
        <a routerLink="/factions">Factions</a> - {{ entity.name }}
      </div>
      <div class="card-body small" *ngIf="entity">
        <div class="form-group row" *ngIf="entity.description != 'No information available'">
          <label class="col col-form-label col-form-label-sm">{{ entity.description }}</label>
        </div>

        <dl class="row">
          <dt class="col-sm-2">Race</dt>
          <dd class="col-sm-10">
            <span *ngIf="entity.race">
              <a [routerLink]="['/races', entity.race.id]">{{ entity.race.name }}</a>
            </span>
            <span *ngIf="!entity.race"> - </span>
          </dd>
        </dl>

        <div class="row mt-2 mb-2">
          <div class="col-12">
            <div class="card shadow-sm">
              <div class="card-header">
                Licenses
              </div>
              <div class="card-body">
                 <dx-data-grid [dataSource]="entity.licenses" [showBorders]="true" [hoverStateEnabled]="true">
                    <dxi-column dataField="name" caption="Name"></dxi-column>
                    <dxi-column dataField="price" caption="Price" dataType="number" format="fixedPoint"></dxi-column>
                 </dx-data-grid>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
