<div class="row content-row">
  <div class="col-md-12">
    <div class="card shadow" *ngIf="entity">
      <div class="card-header shadow-sm">
        <a routerLink="/factions">Factions</a> - {{ entity.name }}
      </div>
      <div class="card-body small" *ngIf="entity">
        <div class="form-group row" *ngIf="entity.description != 'No information available'">
          <label class="col col-form-label col-form-label-sm">{{ entity.description }}</label>
        </div>

        <dl class="row">
          <dt class="col-sm-2">Race</dt>
          <dd class="col-sm-10">
            <span *ngIf="entity.race">
              <a [routerLink]="['/races', entity.race.id]">{{ entity.race.name }}</a>
            </span>
            <span *ngIf="!entity.race"> - </span>
          </dd>
        </dl>

        <div class="row mt-2 mb-2">
          <div class="col-12">
            <div class="card shadow-sm">
              <div class="card-header">
                Licenses
              </div>
              <div class="card-body">
                <ngx-datatable class="bootstrap"
                               [rows]="entity.licenses"
                               [rowHeight]="'auto'"
                               [columnMode]="'force'">
                  <ngx-datatable-column prop="name" name="Name"></ngx-datatable-column>
                  <ngx-datatable-column prop="price" name="Price" [pipe]="numberPipe"></ngx-datatable-column>
                </ngx-datatable>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
