/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "font-awesome/scss/font-awesome";

.hover {
  cursor: pointer;
}

.content-row {
  padding: 10px 10px 10px 0;
}

.navbar-logo {
  width: 40px;
}

.cursor-pointer {
  cursor: pointer;
}

.link {
  text-decoration: underline;
}

