.hover-icon {
  cursor: pointer;
}

.content-row {
  padding: 10px 10px 10px 0;
}

@media (min-width: 576px) {
  .bd-example {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;
  }
}

.bd-example {
  position: relative;
  padding: 1rem;
  margin: 1rem -15px 0;
  border: solid #f7f7f9;
  border-width: .2rem 0 0;
}
