<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bg-secondary shadow">
  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="navbar-brand">
        <img src="../../../assets/images/x4-logo.png" alt="X4:Foundations" class="navbar-logo" />
      </li>
      <li class="nav-item">
        <a class="nav-link" i18n="@@stationCalculator" routerLink="/station-calculator" routerLinkActive="active">Station Calculator</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" i18n="@@wares" routerLink="/wares" routerLinkActive="active">Wares</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" i18n="@@stationModules" routerLink="/modules" routerLinkActive="active">Station Modules</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" i18n="@@ships" routerLink="/ships" routerLinkActive="active">Ships</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" i18n="@@races" routerLink="/races" routerLinkActive="active">Races</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" i18n="@@factions" routerLink="/factions" routerLinkActive="active">Factions</a>
      </li>
    </ul>
  </div>
  <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex" *ngIf="languages" ngbDropdown>
    <li class="nav-item dropdown hover">
      <a class="nav-item nav-link dropdown-toggle mr-md-2" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true" id="languages" ngbDropdownToggle>
        Languages
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="languages" ngbDropdownMenu>
        <a class="dropdown-item" [ngClass]="{ 'active': localeId == 'en-US' }" href="/">English</a>
        <ng-container *ngFor="let lang of languages">
          <!--suppress HtmlUnknownTarget -->
          <a class="dropdown-item" [ngClass]="{ 'active': lang.code == localeId }" href="/{{ lang.code }}/">{{ lang.label }}</a>
        </ng-container>
      </div>
    </li>
  </ul>
</header>
