<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bg-secondary">
  <div>
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="navbar-brand">
        <img src="../../../assets/images/x4-logo.png" alt="X4:Foundations" class="navbar-logo" />
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/station-calculator" routerLinkActive="active">Station Calculator</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/wares" routerLinkActive="active">Wares</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ships" routerLinkActive="active">Ships</a>
      </li>
    </ul>
  </div>
</header>
